<div style="height: 0.5px;">
  <img class="img1" src="//gaming-workdo.myshopify.com/cdn/shop/files/footer-ring-right.png?v=1670848830" alt="">
  <img class="img2" src="//gaming-workdo.myshopify.com/cdn/shop/files/footer-ring-left.png?v=1670848818" alt="">
</div>
<footer class="text-center text-lg-start bg-light text-muted " >

  <section class=" text-light gap-4 " style="background-color: #000000;">
    <div class="container text-center text-md-start ">
      <!-- Grid row -->
          <div class="row p-3 ">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mb-4 me-3 " style="width:600px;">
                  <!-- Content -->
                  <h6 class="fw-bold mb-4  fs-1 mt-2">
                      <i class="fas fa-gem me-3 "></i>Gaming <span style="color: #7b35c8;">.</span>
                  </h6>
                  <div class="ms-3 w-100">
                    <span class="fs-3 fw-bold">
                      Reach out & let your <span class="mind" style="background-image:linear-gradient(250deg, #7b35c8 0%, #0098ff 100%);
                      -webkit-background-clip: text;
                      background-clip: text;">
                        mind
                      </span>
                      <p class="mind">explore</p>
                    </span>

                    I also love the challenge of trying to beat a difficult game or <br>
                    master a new skill.
                  </div>
              </div>

              <!-- Grid column -->
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 text-center mb-4">
                  <!-- Links -->
                  <h6 class="fw-bold mb-4 fs-3 mt-3">
                      Branches
                  </h6>
                  <p>
                      <a href="#!" class=" text-light">Cairo</a>
                  </p>
                  <p>
                      <a href="#!" class=" text-light">Tanta</a>
                  </p>
                  <p>
                      <a href="#!" class=" text-light">Alex</a>
                  </p>
              </div>
              <!-- Grid column -->
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 text-center mb-4">
                  <!-- Links -->
                  <h6 class="fw-bold mb-4 fs-3 mt-3">
                      Social Media
                  </h6>
                  <p>
                      <a href="#!" class=" text-light">Facebook</a>
                  </p>
                  <p>
                      <a href="#!" class=" text-light">Twitter</a>
                  </p>
                  <p>
                      <a href="#!" class=" text-light">Instagram</a>
                  </p>
              </div>
              <!-- Grid column -->
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 text-center mb-4">
                  <!-- Links -->
                  <h6 class="fw-bold mb-4 fs-3 mt-3">
                      Contacts
                  </h6>
                  <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                  <p>
                      <i class="fas fa-envelope me-3"></i>
                      info@example.com
                  </p>
                  <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                  <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
              </div>

              <!-- Grid column -->
          </div>
          <!-- Grid row -->
      </div>
  </section>
  <!-- Section: Links  -->
  <!-- Copyright -->
  <div class="text-center p-4 text-light" style="background-color: rgb(0, 0, 0);">
      © 2023 Copyright
      <a class="text-reset " href="https://mdbootstrap.com/"> - Gaming -</a>
  </div>
  <!-- Copyright -->
</footer>