<app-productstop></app-productstop>
<!-- /////////////////////////////////// -->
<div class="container-fluid">
  <div class="row">
    <!-- ////////////////// filter ///////////////////  -->
    <div class="col-3">
      <section>
        <h2 style="font-weight: bold">Filter</h2>

        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne"
                aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne"
                style="color: white !important; font-weight: bold"
              >
                <span style="color: white">Category</span>
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseOne"
              class="accordion-collapse collapse show"
            >
              <div class="accordion-body">
                <!-- ////////////////////////////////// -->
                <div class="form-check ms-4 mt-3">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="radio1"
                    name="optradio"
                    value="All"
                    (change)="Oncheckked($event)"
                  />
                  <label
                    class="form-check-label"
                    style="font-size: 17px"
                    for="radio1"
                    >All products</label
                  >
                </div>
                <!-- ////////////////////////////////////////////// -->
                <div
                  class="form-check ms-4 mb-3 mt-3"
                  *ngFor="let Category of categories"
                >
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="radio1"
                    name="optradio"
                    value="{{ Category.name }}"
                    (change)="Onchecked($event, Category.id)"
                  />
                  <label
                    class="form-check-label"
                    style="font-size: 17px"
                    for="radio1"
                    >{{ Category.name }}</label
                  >
                </div>
                <br />
                <!-- /////////////////////////////////// -->

                <!-- /////////////////////////////////// -->
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo"
                aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo"
              >
                Brand
              </button>
            </h2>
            <div
              id="panelsStayOpen-collapseTwo"
              class="accordion-collapse collapse"
            >
              <div class="accordion-body">
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="radio1"
                    name="optradio"
                    value="option1"
                    checked
                  />
                  <label class="form-check-label" for="radio1">Option 1</label>
                </div>
                <br />
                <div class="form-check">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="radio2"
                    name="optradio"
                    value="option1"
                    checked
                  />
                  <label class="form-check-label" for="radio1">Option 2</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- ////////////////// filter ///////////////////  -->

    <div class="col-9">
      <!-- //////////////////////// -->
      <div class="container" *ngIf="Cattid != 0">
        <div class="row">
          <div class="col-3" *ngFor="let product of finalfilter">
            <!-- card -->
            <div class="card" style="width: 18rem">
              <h4 class="product-title text-black">
                <!-- Alien ware Monitor T 46 -->{{ product.title }}
              </h4>
              <ul class="product-number">
                <li>TYPE: {{ product.brandName }}</li>
              </ul>

              <img
                src="assets/img/gaming/products/{{ product.imgUrl }}"
                class="card-img-top"
                alt="..."
              />

              <div class="cat-item">
                <ul>
                  <li>
                    <a [routerLink]="['/product', product.id]">
                      <i class="bi bi-eye-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a class="heart">
                      <i class="bi bi-suit-heart-fill"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div
                  class="product-content-bottom d-flex align-items-center justify-content-between"
                >
                  <ins class="price-item--regular"
                    ><span class="text-black">{{ product.price }} </span
                    ><span class="currency-type text-black"> EGP </span></ins
                  >
                </div>
                <a href="#" class="btnn btn-primary">Add to cart</a>
              </div>
            </div>

            <!-- card -->
          </div>
        </div>
      </div>
      <!-- /////////////////// -->

      <div class="container" *ngIf="Cattid == 0">
        <div class="row">
          <div class="col-3" *ngFor="let product of products">
            <!-- card -->
            <div class="card" style="width: 18rem">
              <h4 class="product-title text-black">
                <!-- Alien ware Monitor T 46 -->{{ product.title }}
              </h4>
              <ul class="product-number">
                <li>TYPE: {{ product.brandName }}</li>
              </ul>

              <img
                src="assets/img/gaming/products/{{ product.imgUrl }}"
                class="card-img-top"
                alt="..."
              />

              <div class="cat-item">
                <ul>
                  <li>
                    <a [routerLink]="['/product', product.id]">
                      <i class="bi bi-eye-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a class="heart">
                      <i class="bi bi-suit-heart-fill"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div
                  class="product-content-bottom d-flex align-items-center justify-content-between"
                >
                  <ins class="price-item--regular"
                    ><span class="text-black">{{ product.price }} </span
                    ><span class="currency-type text-black"> EGP </span></ins
                  >
                </div>
                <a href="#" class="btnn btn-primary">Add to cart</a>
              </div>
            </div>

            <!-- card -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
