.van{
    height: fit-content;
    background-color: transparent;
    transform:all 0.5s ;
}
.navbar{
    transform:all 0.5s ;
}
.vaan{
    border-top: 0.25px solid #474747b1 ;
    border-bottom:  0.25px solid  #474747b1;
    transform:all 0.5s ;

    }
.navbar-scroll{
    background-color: black;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    transform:all 0.5s;

}
.sear::placeholder{
    color: #474747 !important;
}
.sear{
    border:  0.25px solid  #838383!important;
}
.sear:active , .sear:focus{
    box-shadow: none;
}

