<app-cattop></app-cattop>
<!-- /////////////////////////////////// -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div
            class="col-4 justify-content-center"
            *ngFor="let product of products"
          >
            <!-- card -->
            <div class="card ms-auto me-auto" style="width: 18rem">
              <h4 class="product-title text-black">
                <!-- Alien ware Monitor T 46 -->{{ product.title }}
              </h4>
              <ul class="product-number">
                <li>TYPE: {{ product.brandName }}</li>
              </ul>

              <img
                src="assets/img/gaming/products/{{ product.imgUrl }}"
                class="card-img-top"
                alt="..."
              />

              <div class="cat-item">
                <ul>
                  <li>
                    <a [routerLink]="['/product', product.id]">
                      <i class="bi bi-eye-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a class="heart">
                      <i class="bi bi-suit-heart-fill"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <div
                  class="product-content-bottom d-flex align-items-center justify-content-between"
                >
                  <ins class="price-item--regular"
                    ><span class="text-black">{{ product.price }} </span
                    ><span class="currency-type text-black"> EGP </span></ins
                  >
                </div>
                <a href="#" class="btnn btn-primary">Add to cart</a>
              </div>
            </div>

            <!-- card -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
